.enemy-file-input {
    display: flex;
    justify-content: end;
    max-width: 300px;
    border-radius: 7px;
    background-color: var(--input-background);
    font-size: var(--font-size-s);
    color: var(--input-color);
    transition: max-width ease-in-out 0.4s;

    &__has-file {
        max-width: 350px;
        width: 350px;
        padding: 4px 8px;
    }

    &__button {
        position: relative;
    }
    &__control {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
    }
    &__preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &-btn {
            cursor: pointer;
        }
    }
}
