.enemy-file-input {
    animation: 800ms ease-out;

    &__container {
        display: flex;
        justify-content: end;
        width: 300px;
        padding: 4px 8px;
        border-radius: 7px;
        background-color: var(--input-background);
        font-size: var(--font-size-s);
        color: var(--input-color);
        transition: width ease-in-out 0.5s;
    }

    &__button {
        position: relative;
    }
    &__control {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        font-size: 0;
        text-indent: -105px;
    }
    &__preview {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;

        &-file {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-left: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-btn {
            margin: 4px 8px;
            cursor: pointer;
        }
    }

    &__has-file {
        .enemy-file-input__container {
            width: 450px;
            padding: 0;
        }
        .enemy-file-input__preview-label {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 10px;
            border-radius: 6px 0 0 6px;
            background-color: var(--button-color);
            white-space: nowrap;
            color: var(--font-color);
        }
    }

    &__has-error {
        .enemy-file-input__preview-file {
            color: rgb(142, 7, 7);
        }
    }
}
