.enemy-file-input {
    position: relative;
    display: flex;
    justify-content: end;
    max-width: 300px;
    border-radius: 7px;
    background-color: var(--input-background);
    font-size: var(--font-size-s);
    color: var(--input-color);
    transition: max-width ease-in-out 0.4s;

    &__has-file {
        max-width: 350px;
        width: 350px;
        padding: 4px 8px;
    }

    &__button {
        position: relative;
    }
    &__control {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        font-size: 0;
        text-indent: -105px;
    }
    &__preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 65px;

        &-label {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            padding: 0 10px;
            border-radius: 6px 0 0 6px;
            background-color: var(--button-color);
            color: var(--font-color);
        }

        &-file {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-btn {
            cursor: pointer;
        }
    }
}
