.location-selector {
    display: flex;
    flex-direction: column;

    &__option {
        display: flex;
        position: relative;
        padding: 60px 80px;

        filter: grayscale(1);
        transition: filter 0.2s ease-out;

        &-img {
            position: relative;
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid var(--color-white);
            background-color: var(--color-white);
            z-index: 1;
        }

        & .location-selector__option_bg {
            position: absolute;
            inset: 0;
            background-size: cover;
            background-position: center;
            transition: transform 0.3s ease-out;
            z-index: 0;
        }

        &:hover .location-selector__option_bg {
            transform: scale(1.1);
        }

        &_selected {
            filter: grayscale(0);

            &::after {
                transform: scale(1.1);
            }
        }
    }
}

.location__default-cards label {
    // background-image: url(../../../../assets/images/location-bg-space.jpg);
}
