@keyframes shake {
    0% {
        transform: translateX(0);
    }

    5% {
        transform: translateX(-4px);
    }

    15% {
        transform: translateX(4px);
    }

    25% {
        transform: translateX(-4px);
    }

    35% {
        transform: translateX(4px);
    }

    45% {
        transform: translateX(-4px);
    }

    55% {
        transform: translateX(4px);
    }

    65% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(3px);
    }

    85% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake-animation {
    animation: shake 800ms ease-out;
    animation-fill-mode: both;
}
