:root {
    /* Base colors */
    --primary-color-dark: #333536;
    --primary-color-light: #fdfdfd;
    --color-white: #ffffff;

    /* Typography */
    --font-family-main: "Roboto", sans-serif;
    --font-color-light: var(--color-white);
    --font-color-dark: #252525;

    /* Font s-size */
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    /* Font m-size */
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    /* Font l-size */
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    /* UIButton */
    --button-color: var(--primary-color-dark);
    --button-outline-color: var(--primary-color-dark);
    --button-color-hover: #3f4142;
    --button-color-hover-alpha: rgba(58, 61, 62, 0.5);
    --button-color-active: #1e2021;
    --button-background-disabled: rgb(114 114 114);
    --button-color-disabled: rgb(189 184 184);

    /* UIInput */
    --input-color: var(--font-color-dark);
    --input-background: var(--primary-color-light);
    --input-background-focus: var(--primary-color-light);
    --input-outline-color: var(--primary-color-dark);
    --input-border-color: var(--primary-color-light);
    --input-background-disabled: red;
    --input-color-disabled: green;

    /* UIRadio */
    --radio-border-color: var(--color-white);

    /* UILoader */
    --loader-color: var(--color-white);
    --loader-color-inverted: var(--primary-color-dark);

    /* UIRadio */
    --radio-color: var(--font-color-dark);
    --radio-marker-color: var(--primary-color-dark);
    --radio-marker-hover: #3f4142;
    --radio-outline-color: var(--primary-color-dark);
    /* --radio-outline-color: ##f6f8f7; */
    --radio-background-color: var(--primary-color-light);
}
